{{ define "header" }}
{{ partialCached "header.html" . }}
{{ end }}

{{ define "main" }}
	<main class="site-main section-inner thin">
		<h1> {{ .Title }}</h1>
		{{- if .Content }}
		<div class="content">
			{{ .Content }}
		</div>
		{{- end }}

		<div class="posts-group pinned">
			<ul class="posts-list">
				{{- range .Pages.ByWeight }}
				{{if (.Param "pinned")  }}
				<li class="post-item underlined">
					<a href="{{.Permalink}}">
							<span class="posts-title pinned">📌 {{.Title}}{{.Params.subtitle}}</span>
						{{ if .Param "edited_date" }}
							<span class="post-day">E. {{ .Site.Params.dateform }}</span>
						{{ else }}
							<span class="post-day">C. {{ .Date.Format .Site.Params.dateform }}</span>
						{{- end }}
					</a>
				</li>
				{{else }}
				<li class="post-item underlined">
					<a href="{{.Permalink}}">
							<span class="posts-title pinned">{{.Title}}{{.Params.subtitle}}</span>
						{{ if .Param "edited" }}
							<span class="post-day">E. {{ dateFormat .Site.Params.dateform .Params.edited }}</span>
						{{ else }}
							<span class="post-day">C. {{ .Date.Format .Site.Params.dateform }}</span>
						{{- end }}
					</a>
				</li>
				{{ end }}
				{{- end }}
			</ul>
		</div>
	</main>
{{ end }}

{{ define "footer" }}
{{ partialCached "footer.html" . }}
{{ end }}
