{{ range . -}}
{{- if (eq .name "RSS") -}}
    <a href="{{ .url }}" target="_blank" rel="noopener me" title="{{ .name | upper }}">{{ partial "svg.html" . }}</a>
    {{- else -}}
        <a href="{{ .url }}" target="_blank" rel="noopener me" title="{{ .name | humanize }}">{{ partial "svg.html" . }}</a>
{{- end -}}
{{- end -}}
