{{ define "head" }} {{ if .Site.Params.bgImg -}}
<style>
	.bg-img {
		background-image: url("{{.Site.Params.bgImg}}");
	}
</style>
{{- else if .Site.Params.images -}} {{- range first 1 .Site.Params.images -}}
<style>
	.bg-img {
		background-image: url("{{. | absURL}}");
	}
</style>
{{- end -}} {{- end -}} {{ end }} {{ define "main" }} {{- if (or
.Site.Params.images .Site.Params.bgImg) }}
<div class="bg-img"></div>
{{- end }}
<div id="spotlight">
	<div id="home-center">
		<h1 id="home-title">{{ .Site.Title }}</h1>
		{{- with .Site.Params.homeSubtitle }}
		<p id="home-subtitle">{{.}}</p>
		{{- end }} {{- with .Site.Params.social }}
		<div id="home-social">{{ partialCached "social-icons.html" . }}</div>
		{{- end }}
		<nav id="home-nav" class="site-nav">
			{{- range .Site.Menus.main }}
			<a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
			{{- end }}
		</nav>
	</div>
</div>
{{ end }}
